<div class='m-buttons'>
	<btn [type]='memory' [value]="'MC'"></btn>
	<btn [type]='memory' [value]="'MR'"></btn>
	<btn [type]='memory' [value]="'M+'" [tooltip]='true'></btn>
	<btn [type]='memory' [value]="'M-'" [tooltip]='true'></btn>
	<btn [type]='memory' [value]="'MS'" [tooltip]='true'></btn>
	<btn [type]='memory' [value]="'M^'"></btn>
	<div style="clear: both"></div>
</div>

<hr class='btn-separator'/>

<div class='input-buttons'>
	<btn [type]='operator' [value]="'%'"></btn>
	<btn [type]='operation' [value]="'√'"></btn>
	<btn [type]='operation' [value]="'x²'"></btn>
	<btn [type]='operation' [value]="'⅟'"></btn>

	<btn [type]='operation' [value]="'CE'"></btn>
	<btn [type]='operation' [value]="'C'"></btn>
	<btn [type]='operation' [value]="'⌫'"></btn>
	<btn [type]='operator' [value]="'÷'"></btn>

	<btn [type]='number' [value]="'7'"></btn>
	<btn [type]='number' [value]="'8'"></btn>
	<btn [type]='number' [value]="'9'"></btn>
	<btn [type]='operator' [value]="'✕'"></btn>

	<btn [type]='number' [value]="'4'"></btn>
	<btn [type]='number' [value]="'5'"></btn>
	<btn [type]='number' [value]="'6'"></btn>
	<btn [type]='operator' [value]="'–'"></btn>

	<btn [type]='number' [value]="'1'"></btn>
	<btn [type]='number' [value]="'2'"></btn>
	<btn [type]='number' [value]="'3'"></btn>
	<btn [type]='operator' [value]="'+'"></btn>

	<btn [type]='operation' [value]="'±'"></btn>
	<btn [type]='number' [value]="'0'"></btn>
	<btn [type]='operation' [value]="'.'"></btn>
	<btn [type]='operation' [value]="'='"></btn>
	<div style="clear: both"></div>
</div>
