$header-hover-btn-background-color: #DEDEDE;
$header-hover-close-btn-background-color: red;
$header-hover-close-btn-text-color: white;

:host {
    font-size: 14px;
    .title {
        display: inline-block;
        margin-left: 10px;
        line-height: 31px;
    }

    .options {
        float: right;

        .btn {
            width: 46px;
            height: 31px;
            float: left;
            margin-right: -1px;
            text-align: center;
            line-height: 31px;
            &:hover {
                background-color: $header-hover-btn-background-color;
            }
        }

        .btn.close {
            &:hover {
                background-color: $header-hover-close-btn-background-color;
                color: $header-hover-close-btn-text-color;
            }
        }
    }

}
