$disabled-btn-text-color: #bdbdbd;
$active-grey: #c8c8c8;
$primary-text-color: black;
$primary-hover-background-color: #DEDEDE;
$equil-btn-hover: #0078d7;
$operator-text-hover: white;
$m-btn-disabled-hover: white;
$tooltiptext-background-color: $disabled-btn-text-color;


:host {
    .btn {
        width: 25%;
        height: 55px;
        float: left;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:hover {
           background-color: $primary-hover-background-color;
        }

        &:active {
           background-color: $active-grey;
        }

        &:focus {
           outline: none;
        }
    }
}

.m-buttons {
    .btn {
        width: 16.5%;
        height: 29px;
        color: $disabled-btn-text-color;
        font-size: 12px;
        &:hover {
           background-color: $m-btn-disabled-hover;
        }
    }

    .tooltip {
       position: relative;
       color: $primary-text-color;
       &:hover {
          background-color: $primary-hover-background-color;
       }

       /* Show the tooltip text when you mouse over the tooltip container */
       &:hover .tooltiptext {
           transition: opacity .5s;
           transition-timing-function: ease-in;
           visibility: visible;
           opacity: 1;
       }

       /* Tooltip text */
        .tooltiptext {
           visibility: hidden;
           width: 110px;
           background-color: $tooltiptext-background-color;
           padding: 5px 0;
           position: absolute;
           z-index: 1;
           top: -32px;
           right: -33px;
           transition: opacity .5s, visibility .5s;
           opacity: 0;
        }
    }
}

.input-buttons {
    .number {
        font-weight: bold;
        font-size: 24px;
    }

    .operator {
        font-size: 30px;
        &:hover {
            color: $operator-text-hover;
        }
    }

    .module {
         font-size: 18px;
         &:hover {
              color: black;
         }
    }

    .multiple {
        font-size: 18px;
    }

    .equil {
        &:hover {
            background-color: $equil-btn-hover;
        }
    }

    .font-size30 {
         font-size: 30px;
    }
}
