$top-screen-text-color: grey;

 :host {
    display: block;

    .screen {
        margin-right: 4%;
        text-align: right;
    }

    .top-screen {
        height: 20px;
        color: $top-screen-text-color;
        font-size: 16px;
    }

    .bot-screen {
        height: 70px;
        margin-top: 10px;
        font-size: 51px;
    }

     h1.font-size46 {
         font-size: 46px;
     }

     h1.font-size42 {
         font-size: 42px;
     }

     h1.font-size38 {
         font-size: 38px;
     }

     h1.font-size36 {
         font-size: 36px;
     }

     h1.font-size34 {
         font-size: 34px;
     }

     h1.font-size32 {
         font-size: 32px;
     }

     h1.font-size30 {
         font-size: 30px;
     }

     h1.font-size27 {
         font-size: 27px;
     }
 }
