$primary-background-color: white;
$calculator-border-color: #278ad8;
$primary-fonts: Arial, Helvetica, sans-serif;

:host {
    position:relative;
    overflow: hidden;
    margin:auto;
    display: block;
    width: 300px;
    border: 1px solid $calculator-border-color;
    background-color: $primary-background-color;
    box-shadow: 2px 2px 40px rgba(200, 200, 200, 1);
    font-family: $primary-fonts;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
 }
